 .heading {
	text-align: center;
	font-family:bold; 
	width: 100%;
}

.full-width
{
width: 100%;
}
.employe-type_dropdown
{
	width:100%;
	background-color: #D7D0D0;
	border-color:#D7D0D0;
}
.loan-form-border
{
  border-style: groove;
  border-width: 1px;
  border-color: #D7D0D0;
}
@media only screen and (min-width: 991px) {
  .applyForm {
   width:100%;
   height:60%;
/*    background:#E3E2E2; */
/*    #D7D0D0 */
background: white;
  }  
  .side-call-logo
  {
	  margin-left: 87%;
	  margin-top: 17%;
  } 
}

@media only screen and (max-width: 991px) {
   .applyForm {
	/*    background:#E3E2E2; */
	background: white;
	  }  
	.loan-content{
		   display: none;
	}
	.side-call-logo
  {
	   margin-left: 75%;
	  margin-top: 40%;
  } 
	  
}

.margin-bottom
{
	margin-bottom:13px;
}
.image-width
{
	width:60%;
	heigth:50%;
}

.image-logo
{
 width:10%;
 higth:10%;	
}
.padding
{
	padding: 5px 21px !important;
}


.open-button-callback {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 10px;
  right: 1px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #007bff;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: grey ;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button-callback:hover,.open-button-missedcall:hover {
  opacity: 1;
}

.open-button-missedcall {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 10px;
  right: 1px;
}
.close
{
	margin-left: 90%;
}
.modal {
    left: 11%;
}

.modal-content {
    width: 62%;
}

.unique-color-dark {
    background-color: #1c2331 !important;
}
footer.page-footer {
    bottom: 1px;
    color: #fff;
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,.6);
}
.deep-purple.accent-2 {
    background-color: #7790DA !important;
}
.ml-auto, .mx-auto {
    margin-left: none;
}
footer.page-footer a {
    color: #fff;
}

.font-small {
    font-size: .9rem;
}
a:hover {
  background-color: grey;
}
