<html>
<body>
	<div id="aboutUsHeading" style="text-align: left;">
		<h3>
			<center>
				<u><b>About US</b></u>
			</center>
		</h3>
	</div>
	<div id="aboutUsDesc">

		<span> Rainbow Capital Ltd is a micro lending company promoted
			by a group of investors with considerable experience in variety of
			business activities in Zambia.The start up is an answer to the
			growing needs of expanding aspiration of people of Zambia.The Company
			is headed by a very senior banker and supported by experienced
			operational and marketing team.The Company aims to provides flexible
			loans with a maximum tenor of 24 months for every possible need on a
			fully digitalised and transparent platform.With a world class
			technology platform the company intends to be a game changer in the
			micro lending business. </span>


	</div>
</body>
</html>