
<div
	style="max-height: 400px; min-height: 400px; text-align: center; max-width: 100%;">
	<div id="slideshow">
		<div class="slidContainer">
			<img src="img/schoolChild.jpg" style="height: 380px; width: 100%;">
			<div class="slideContent">
			<div><p><b>Need to pay school fees promptly and secure your child's future.</b></p></div>
		</div>
		</div>
		<div class="slidContainer">
			<img src="img/relievedMum.jpg" style="height: 380px; width: 100%;">
			<div class="slideContent">
			<div><p><b>No worries.</b></p></div>
		</div>
		</div>
<!-- 		<div class="slidContainer"> -->
<!-- 			<img src="img/how_much_loan_image.jpg" -->
<!-- 				style="height: 380px; width: 100%;"> -->
<!-- 				<div class="slideContent"> -->
<!-- 			<div><p><b>Use our calculator and check out how much can you get.</b>  <i class="arrow down"></i></p></div> -->
<!-- 		</div> -->
<!-- 		</div> -->
		
	</div>
</div>
<div align="center">
	<img src="img/down_arrow.gif" style="height: 10%; width: 10%;"><br></br>
	<h3 style="color: green;">How much do i need ?</h3>
</div>