
<div class="checklistHeading" style="text-align: left;margin-left: 42%;"><h3><b>CHECKLIST QUESTIONS </b></h3></div><hr>
<div class="checklist-div">
	<span><h5>How it works</h5> </span><br><hr>
	<span>find out more on our flexi loans process. We offer different options to suit your needs.  In a box at the bottom – apply now  </span><br>
		<table>
			<tr>
				<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>confirm with your employer (HR Department)  if any MOU has been signed up with
    us.</div></div>
				</td>
			</tr>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>Fill in our simple loan application form that will be provided. Our marketing team 
    are available to help you through the process and collect the 
   application along with necessary documents.
- 
</div></div>
				</td>
			</tr>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>Rainbow capital will evaluate your loan application and make a decision. You will be 
   informed as to whether its declined or approved accordingly.
</div></div>
				</td>
			</tr>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>Upon approval the loan funds will be disbursed to your account or mobile money 
  account.
</div></div>
				</td>
			</tr>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>The Loan instalments will be deducted directly from your salary by HR Department.</div></div>
				</td>
			</tr>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>Loan Tenor - payable within a period of 1 to 6 months.</div></div>
				</td>
			</tr>
		</table>
</div>




<div class="checklist-div">
	<hr><span><h5>
What do I need to apply
</h5> </span><br><hr>
	<span>SMILY BOX UNDER CONSTRUCTION </span><br>
		<table>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>	Signed up MOU with your organisation</div></div>
				</td>
			</tr>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>	Copy of valid identity card e.g NRC, Passport or Driving licence</div></div>
				</td>
			</tr>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>	Recommendation by employer.</div></div>
				</td>
			</tr>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>One recent passport size photo</div></div>
				</td>
			</tr>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>Three (3) latest payslips</div></div>
				</td>
			</tr>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>	Three (3) months latest bank statement.</div></div>
				</td>
			</tr>
		</table>
		</div>
		
		<div class="checklist-div">
	<hr><span><h5>
How to apply
</h5> </span><br><hr>
	<span>SMILY BOX UNDER CONSTRUCTION </span><br>
		<table>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>		The application forms will be made available to your offices by our marketing representatives     </div></div>
				</td>
			</tr>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>		or our offices at House #1 Rhodes Park Off Addis Ababa Road Lusaka and meet with our staff who will guide you through the application process ( show google map) </div></div>
				</td>
			</tr>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>		Contact us on  0976202967.dispaly a phone or mobile person or 
Send us a call me back message and we will get in touch wit you. 
</div></div>
				</td>
			</tr>
			<tr>
			<td>
				<div class="checklist-detail"><div><img class="CheckMark-image" alt="" src="img/green-check-mark.jpg"></div><div>-	Send us an email on info.rainbowcapital@gmail.com</div></div>
				</td>
			</tr>
		</table>
		</div>