<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body>

<div class="container">
  <h1>APPLY HERE</h1>
  <p style="color: black;">RAINBOW CAPITAL LTD offers quick, easy & customised home loans for Salaried and Self Employed individuals. 
    RAINBOW CAPITAL LTD home loans can be availed at attractive interest rates. RAINBOW CAPITAL LTD offers a variety of flexi-repayment options and longer tenure for enhancing loan eligibility. RAINBOW CAPITAL LTD offers expert legal and technical counsel on housing loans to help make an informed home buying decision. RAINBOW CAPITAL LTD’s integrated network of branches across India ensures hassle free housing loan services..</p>      
   </br>     
  <div class="row">
    <div class="col-sm-5" style="background-color:white;">
    <img src="applyloanimage.jpg" style="width: 100%; height: 100%">
    </div>
    <div class="col-sm-7" style="background-color:white;">
     <div class="container applyForm loan-form-border col-sm-8" id="myForm">
		<h4 class="heading" style="color: #3A4792">Please fill in your details to get a call from our Loan Expert!</h4>
		<br>
		<form action="rainbow.html">		
				<div class=form-group ">
						<div class="select-wrapper">
						<select data-drupal-selector="edit-city"
							class="form-select required form-control  " id="edit-city"
							name="city" required="required" aria-required="true" ><option
								value="" selected="selected">Select your city</option>
							<option value="Lusaka">Lusaka</option>
							<option value="Ndola">Ndola</option>
							<option value="Kitwe">Kitwe</option>
							<option value="Kabwe">Kabwe</option>
							<option value="Chingola">Chingola</option>
							<option value="Mufulira">Mufulira</option>
							</select>
					</div>
				</div>	
		     
			<div class="form-group  ">
					<input name="li_display_name" id="li_display_name"
					class="form-input-height form-control font12 radius-5 text-darkgrey font-weight400 text-capitalize  GAnalytica_Text  "
					maxlength="50" placeholder="Enter your full name" value="" type="text" required >
			</div>
			
			<div class="form-group  ">
					<input name="li_display_name" id="li_display_name"
					class="form-input-height form-control font12 radius-5 text-darkgrey font-weight400 text-capitalize  GAnalytica_Text"
					maxlength="50" placeholder="Enter your mobile number" value="" type="text" required>
			</div>
			
			<div class="form-group  ">
					<input name="li_display_name" id="li_display_name" type="email"
					class="form-input-height form-control font12 radius-5 text-darkgrey font-weight400 text-capitalize  GAnalytica_Text"
					maxlength="50" placeholder="Enter your email ID" value="" type="text" required>
			</div>



			<div
				class="form-item js-form-item form-type-textarea js-form-type-textarea form-item-interactiondetails js-form-item-interactiondetails form-group">
				<div class="form-textarea-wrapper">
					<textarea data-drupal-selector="edit-interactiondetails"
						class="form-textarea form-control resize-vertical"
						id="edit-interactiondetails" name="interactiondetails" rows="1"
						cols="60" placeholder="Write a Query"></textarea>
				</div>

			</div>


			<button type="submit" class="btn btn-primary full-width">Submit</button>
				</br> </br>
		</form>
	</div>

    </div>
  </div>
</div>
    
</body>
</html>
