<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<div>
		<table>
			<tr>
				<td><span>Person Name</span></td>
				<td>:</td>
				<td><span>${personName}</span>
			</tr>
			<tr>
				<td><span>Person contact</span></td>
				<td>:</td>
				<td><span>${personContact}</span>
			</tr>
			<tr>
				<td><span>Person email</span></td>
				<td>:</td>
				<td><span>${personEmail}</span>
			</tr>
			<tr>
				<td><span>Comments</span></td>
				<td>:</td>
				<td><span>${comments}</span>
			</tr>
		</table>
	</div>
</body>
</html>