<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body>

	<center>
		<p>
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d480.79775802635913!2d28.3061454!3d-15.4099169!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19408b57d0cd9e5f%3A0x2dccd8e3fe90975b!2sNalubuto+Rd%2C+Lusaka%2C+Zambia!5e0!3m2!1sen!2sin!4v1563369775477!5m2!1sen!2sin"
				width="600" height="450" frameborder="0" style="border: 0"
				allowfullscreen></iframe>
		</p>
	</center>
</body>
</html>