
<div id="mediumTermLoanDesc">
	<span>Rainbow capital Limited offers you flexi loans to salaried
		civil servants and privates companies who have signed an MOU with us.
		The loan are tailored made to meet all your immediate personal needs
		on flexiable terms and conditions. You can use the flexi loan to pay
		for your medical bills, school fees, home appliances, purchase a motor
		vehicle and any other pressing matters.</span> <br></br>
	<ul style="list-style-type: disc;">
		<li>Loan Tenor - payable within a period of 1 to 12 months.</li>
		<li>You can borrow upto K10,000. Within the parameters of MOU.</li>
	</ul>

</div>