<div id="shortTermLoanHeading" style="text-align: left;margin-left: 45%;"><h3><b>Short Term Loan</b></h3></div>
<div id="shortTermLoanDesc">
	<span> Rainbow capital Limited offers you flexi loans to
		salaried civil servants and privates companies who have signed an MOU
		with us. The loans are tailored made to meet all your immediate
		personal needs on flexiable terms and conditions. You can use the
		flexi loan to pay for your medical bills, school fees, home
		appliances, purchase a motor vehicle and any other pressing matters. </span><br>
		<table>
			<tr>
				<td>
				<div id="loanProductDetails"><div><img id="greenCheckMark" alt="" src="img/green-check-mark.jpg"></div><div>Loan Tenor - payable within a period of 1 to 6 months.</div></div>
				</td>
				<td>
				<div id="loanProductDetails"><div><img id="greenCheckMark" alt="" src="img/green-check-mark.jpg"></div><div>You can borrow upto K5,000 within the parameters of MOU.</div></div>
				</td>
			</tr>
		</table>
</div>